html {
  height: 100%;
}

header {
  padding: 10px 15px;
  text-align: center;
}

body {
  margin: 0 0 75px;
  padding: 25px;
  background-color: #DEFFFC;
  font-family: "Palitino Linotype", "Book Antiqua", Palatino, serif;
}

.content {
  background-color: #b4e1ff;
  margin-left: auto;
  width: 75%;
  padding: 15px;
  margin-top: 15px;
  box-shadow: 5px 5px #253738;
  -webkit-box-shadow: 5px 5px #253738;
  -moz-box-shadow: 5px 5px #253738;
  padding-right: 10px;
}

.aside {
  float: left;
  margin-left: auto;
  width: auto;
  background-color: #C9E8E5;
  text-align: center;
  height: auto;
  box-shadow: 5px 5px #253738;
  -webkit-box-shadow: 5px 5px #253738;
  -moz-box-shadow: 5px 5px #253738;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navcontent {
  text-align: left;
  color: #412B6D;
}

footer {
  margin-bottom: 5px;
}